body {
  margin: 0px;
  padding: 0px;

  background-color: black;
  height: 200%;
}

h1, span {
  color: #ffffff;
  font-family: 'Courier New';
}

#particles-js {
  /* background-image: url("images/image1.jpg"); */
  /* background-size: cover; */
  height: 100%;
  position: fixed; top: 0;
}

#description {
  height: auto;
  width: 100%;

  position: relative;
  top: 50%;
}

#projects {
  background-color: rgba(0, 0, 128 , .5);
  width: 100%;
}

#title {
  top: 100px;
  position: relative;
  margin: auto;
  height: 100vh;
}

.background {
  background-color: rgba(0, 0, 128 , .5);
  padding-bottom: 30px;
  padding-top: 15px;

  margin-bottom: 10px;

}

.descriptionSpan {
  position: relative;
  /* top: 10%; */
  left: 7%;
  display: block;
  width: 86%;
}

.centerText {
  text-align: center;
  display: block
}

.titleCard {
  position: relative;
  /* top: 10%; */
  left: 5%;
  display: block;
  width: 86%;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
