body {
  margin: 0px;
  padding: 0px;

  background-color: black;
  height: 200%;
}

h1, span {
  color: #ffffff;
  font-family: 'Courier New';
}

#particles-js {
  /* background-image: url("images/image1.jpg"); */
  /* background-size: cover; */
  height: 100%;
  position: fixed; top: 0;
}

#description {
  height: auto;
  width: 100%;

  position: relative;
  top: 50%;
}

#title {
  top: 100vh;
  position: relative;
  margin: auto;
}

.background {
  background-color: rgba(0, 0, 128 , .5);
  padding-bottom: 30px;
  padding-top: 15px;

  margin-bottom: 10px;

}

.descriptionSpan {
  position: relative;
  /* top: 10%; */
  left: 7%;
  display: block;
  width: 54%;
}

.centerText {
  text-align: center;
  display: block
}

.titleCard {
  position: relative;
  /* top: 10%; */
  left: 5%;
  display: block;
  width: 86%;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.media {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.media-card {
  height: 150px;
  width: 500px;

  border: 2px solid #fff;
  margin: 30px;
  padding: 10px;
  border-radius: 30px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  cursor: pointer;
}

.media-card:hover {
  border: 2px solid #999;
  transition: .3s;
}

.media-image {
  height: 100%;
  width: auto;

  padding-right: 10px;
}

.media span {
  margin-top: 20px;
}
